#header {
    text-align: center;
    background: gray;
    color: white;
}

#citysearch {
    background: gray;
    color: white;
}

.card-body{
    background: lightskyblue;
    width: 125px;
    text-align: center;
}